<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Monthly OpenPrescribing Testing Report for {{ date }}</title>
    <link rel="stylesheet" href="{{ stylesheet_url }}">
</head>

<body>
    <div class="container">
        <header>
            <img src="{{ logo_url }}" alt="OpenPrescribing logo">
            <h2>Monthly Testing Report for {{ date }}</h2>
        </header>

        <p>
            This report details testing results for OpenPrescribing measures
            which have the flag <code>testing_measure = true</code>.
            Items appearing in the English Prescribing Data for {{ date }}
            that have not previously appeared in the data (from Jan 2014).
        </p>

        {{ january_alert | safe }}

        <p>
            <a href="{{ reports_index_url }}">View previous reports</a>
        </p>

        {% if triggered_tests | length == 0 %}

            <h3>All tests passed</h3>

        {% else %}

            <h2>Measures to check:</h2>

            {% for item in triggered_tests %}
                <a href="{{ measure_base_url }}/{{ item.title }}">
                    <h3>
                        {{ item.title }}
                        <span class="svg-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="#f97306"
                                class="bi bi-question-lg"
                                viewBox="0 0 16 16"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"
                                />
                            </svg>
                        </span>
                    </h3>
                </a>

                <p>{{ item.comments }}</p>

                {{ item.table | safe }}
            {% endfor %}


            <h2>Tests passed:</h2>

            {% if passed_tests | length == 0 %}

                <p>No passed tests</p>

            {% else %}

                {% for item in passed_tests %}
                    <p>
                        <a href="{{ measure_base_url }}/{{ item.title }}">
                            {{ item.title }}
                        </a>

                        <span class="svg-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="#15b01a"
                                class="bi bi-check-lg"
                                viewBox="0 0 16 16"
                                aria-hidden="true"
                            >
                                <path
                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
                                />
                            </svg>
                        </span>
                    </p>
                {% endfor %}

            {% endif %}


            {% if testing_false or testing_none %}

                <hr class="section-divider">

                <h2>Other measures</h2>

                {% if testing_false %}

                    <h3>Measures with testing disabled</h3>

                    {% for item in testing_false %}
                        <p>
                            <a href="{{ measure_base_url }}/{{ item.filename }}.json">
                                {{ item.filename }}
                            </a>
                        </p>
                    {% endfor %}

                {% endif %}


                {% if testing_none %}

                    <h3>Measures without testing information</h3>

                    {% for item in testing_none %}
                        <p>
                            <a href="{{ measure_base_url }}/{{ item.filename }}.json">
                                {{ item.filename }}
                            </a>
                        </p>
                    {% endfor %}

                {% endif %}

            {% endif %}

        {% endif %}

    </div>
</body>
</html>