<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Monthly New Item Report (SCMD) for {{ date }}</title>
    <link rel="stylesheet" href="{{ stylesheet_url }}">
</head>

<body>
    <div class="container">
        <header>
            <img src="{{ logo_url }}" alt="OpenPrescribing Hospitals logo">
            <h2>Monthly Secondary Care Medicines Data New Item Report for {{ date }}</h2>
        </header>

        <p>
            This report details items appearing in the Secondary Care Medicines Data
            for {{ date }} that have not previously appeared in the data.
        </p>

        <p>
            <a href="{{ reports_index_url }}">View previous reports</a>
        </p>

        <h3>New VTMs</h3>
        <p>Virtual Therapeutic Moieties appearing in SCMD for the first time</p>
        {{ vtms | safe }}

        <h3>New VMPs</h3>
        <p>Virtual Medicinal Products appearing in SCMD for the first time</p>
        {{ vmps | safe }}
    </div>
</body>
</html>